/* Jessica Claire 2 Template Styles */
.jessica-claire-2 {
    font-family: "Times New Roman", serif;
    background-color: white;
    width: 100%;
    max-width: 794px;
    /* A4 */
    min-height: 1123px;
    margin: 0 auto;
    padding: 25px 37px;
    /* vmargins hmargins from dynamic */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
    line-height: 20px;
    font-size: 12px;
}

.jessica-claire-2 * {
    box-sizing: border-box;
}

.jessica-claire-2 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.jessica-claire-2 ul,
.jessica-claire-2 li {
    list-style-type: disc;
    margin: 0 0 0 10px;
    padding: 0;
}

.jessica-claire-2 ul li {
    margin: 0 0 0 13px;
}

/* Horizontal list for address */
.jessica-claire-2 .address ul,
.jessica-claire-2 .address li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.jessica-claire-2 .address li:before {
    content: "\25C6\0020";
    /* Diamond bullet */
    vertical-align: bottom;
    margin: 0 5px;
    font-size: 10px;
}

.jessica-claire-2 .address li:first-child:before {
    content: "";
}

.jessica-claire-2 .paddedline {
    display: block;
}

.jessica-claire-2 .jobtitle,
.jessica-claire-2 .companyname,
.jessica-claire-2 .degree {
    font-weight: bold;
}

.jessica-claire-2 .lowerborder {
    border-bottom: 3px solid #000;
    margin-top: 2px;
    display: block;
}

.jessica-claire-2 .name {
    font-size: 24px;
    line-height: 56px;
    font-weight: bold;
    padding: 0 0 1px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-variant: small-caps;
    color: #000;
}

/* Heading with line strike-through */
.jessica-claire-2 .heading {
    clear: both;
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
    position: relative;
    margin-bottom: 9px;
}

.jessica-claire-2 .heading:before {
    border-top: 1px solid black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.jessica-claire-2 .sectiontitle {
    display: inline-block;
    position: relative;
    z-index: 5;
    background: #FFF;
    padding: 0 10px;
    font-size: 15px;
    line-height: 23px;
    color: #000;
}

.jessica-claire-2 .paragraph {
    position: relative;
    margin-top: 18px;
}

.jessica-claire-2 .address {
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    line-height: 19px;
}

/* Skills Table */
.jessica-claire-2 table.twocol td {
    width: 50%;
    vertical-align: top;
}

.jessica-claire-2 a {
    color: inherit;
    text-decoration: none;
}