/* Jessica Claire 5 Template Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;700&display=swap');

.jessica-claire-5 {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 100%;
    max-width: 794px;
    min-height: 1123px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
    /* vmargins hmargins from dynamic */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #020303;
    line-height: 14px;
    font-size: 10px;
}

.jessica-claire-5 * {
    box-sizing: border-box;
}

.jessica-claire-5 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.jessica-claire-5 ul,
.jessica-claire-5 li {
    list-style: none;
    margin: 0 0 0 8px;
    padding: 0;
}

.jessica-claire-5 ul li {
    position: relative;
    margin: 0;
}

.jessica-claire-5 ul li:before {
    content: '\25CF\0020';
    font-size: .6em;
    position: absolute;
    left: -7px;
    top: 0;
}

.jessica-claire-5 .txtBold {
    font-weight: bold;
}

.jessica-claire-5 .txtCaps {
    text-transform: uppercase;
}

.jessica-claire-5 .dispBlk {
    display: block;
}

.jessica-claire-5 .topSection {
    border-bottom: 1px solid #186622;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px;
    /* Simulated padding */
}

.jessica-claire-5 .topSection:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #186622;
    opacity: 0.2;
}

.jessica-claire-5 .cntcSec {
    position: relative;
    color: #000;
    text-align: center;
    /* padding: 12px 25px; */
    z-index: 1;
}

.jessica-claire-5 .address {
    font-size: 10px;
    line-height: 12px;
}

.jessica-claire-5 .sprtr {
    padding: 0px 10px;
    color: #186622;
    font-weight: bold;
}

/* Name Section */
.jessica-claire-5 .nameSec {
    border-top: none !important;
    margin-top: 20px;
    text-align: center;
    /* Center aligning name as per visual flow though HTML has left margin but full width container */
    /* Re-evaluating HTML: .name margin-left 117px. parentContainer table layout. */
    padding-left: 115px;
    /* Simulating the margin-left layout */
}

.jessica-claire-5 .name {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    padding-top: 25px;
    font-size: 24px;
    line-height: 30px;
}

.jessica-claire-5 .parentContainer {
    width: 100%;
}

.jessica-claire-5 .section {
    border-top: 1px solid #186622;
    padding-top: 8px;
    clear: both;
    position: relative;
    margin-top: 35px;
}

.jessica-claire-5 .section:not(.nameSec):not(.cntcSec):before {
    content: '';
    height: 5px;
    width: 115px;
    /* From dynamic */
    position: absolute;
    left: 0;
    top: -6px;
    background: #0C6BA1;
    /* Wait dynamic says #0C6BA1 (Blue) but static says #186622 (Green). Image likely Green. Dynamic overrides. I will stick to static green or dynamic blue? 
  Dynamic css: border-color:#0C6BA1. The user provided HTML has 'green' in static but 'blue' in dynamic. 
  "JessicaClaire5" corresponds to "MLM3". MLM3 usually is green. But dynamic ID says "NewSkins". 
  Let's trust the dynamic CSS color #0C6BA1 (Blue) as it overrides static. */
    background: #0C6BA1;
}

/* Wait, static #186622 is dark green. Dynamic #0C6BA1 is plain blue. I'll use the dynamic color as it appears to be the intended final render */
.jessica-claire-5 .topSection {
    border-bottom-color: #0C6BA1;
}

.jessica-claire-5 .topSection:before {
    background: #0C6BA1;
}

.jessica-claire-5 .sprtr {
    color: #0C6BA1;
}

.jessica-claire-5 .section {
    border-top-color: #0C6BA1;
}


.jessica-claire-5 .heading {
    float: left;
    left: 0;
    position: relative;
    width: 115px;
}

.jessica-claire-5 .sectiontitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 10px;
    line-height: 11px;
}

.jessica-claire-5 .singlecolumn,
.jessica-claire-5 .maincolumn {
    margin-left: 115px;
}

.jessica-claire-5 .paragraph {
    margin-top: 15px;
}

.jessica-claire-5 a {
    color: inherit;
    text-decoration: none;
}