/* Jessica Claire 7 Template Styles */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700;800&family=Saira+Stencil+One&display=swap');

.jessica-claire-7 {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: white;
    width: 100%;
    max-width: 794px;
    min-height: 1123px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
    line-height: 13px;
    font-size: 10px;
}

.jessica-claire-7 * {
    box-sizing: border-box;
}

.jessica-claire-7 ul,
.jessica-claire-7 li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jessica-claire-7 ul li {
    position: relative;
    margin: 0px;
    padding-left: 9px;
}

.jessica-claire-7 ul li:before {
    content: '\2022';
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.jessica-claire-7 .txt-bold {
    font-weight: 600;
}

.jessica-claire-7 .txt-cptz {
    text-transform: capitalize;
}

.jessica-claire-7 .dispBlk {
    display: block;
}

.jessica-claire-7 .dispInBlk {
    display: inline-block;
}

/* Layout Grid */
.jessica-claire-7 .main-grid {
    display: flex;
}

.jessica-claire-7 .left-column {
    width: 140px;
    /* Estimated from IE styles and visual */
    padding-right: 20px;
    position: relative;
    padding-top: 30px;
}

.jessica-claire-7 .left-column:before {
    content: '';
    background: #0c6ba1;
    position: absolute;
    left: 0;
    /* Adjusted for padding */
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    /* Wait, is it opacity on left box? CSS: .left-box:before opacity .1 */
    /* Actually, specific parts have diff backgrounds. 
       Top container right box has opacity .12 blue.
       Left box has opacity .1 blue.
       The layout is tricky. Let's simplify.
    */
    z-index: 0;
}

.jessica-claire-7 .right-column {
    flex: 1;
    padding-left: 20px;
    padding-top: 30px;
}

/* Header Area (spanning somewhat or just right column?)
   In HTML, top-container has left-box (empty) and right-box (Name).
   So Name is in right column area.
*/

.jessica-claire-7 .name-section {
    position: relative;
    margin-bottom: 20px;
    margin-left: -20px;
    /* Pull back to align with divider maybe? */
    padding-left: 20px;
}

.jessica-claire-7 .name-section:before {
    /* Top container right box background opacity */
    content: '';
    position: absolute;
    top: -30px;
    /* extend to top */
    left: 0;
    width: 100%;
    height: 100px;
    /* Arbitrary height cover */
    background: #0c6ba1;
    opacity: 0.12;
    z-index: -1;
    display: none;
    /* Let's skip complex background overlays for now unless critical */
}

/* Actual Name Styling */
.jessica-claire-7 .name {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #000;
    position: relative;
}

.jessica-claire-7 .svg-name {
    position: absolute;
    left: -140px;
    /* Move into left column area */
    top: -15px;
    font-family: 'Saira Stencil One';
    font-size: 60px;
    line-height: 70px;
    color: #fff;
    /* Wait, white? In HTML it says color: #fff; opacity: .5; text-decoration: underline. But background is white? 
    Ah, the left box has a background color potentially?
    CSS: .left-box:before { background: #0c6ba1; opacity: .1; }
    Wait, left box background is light blue. White text might be invisible.
    Let's check darker color or assume the background is dark?
    In HTML style id="dynamic": #0c6ba1.
    Wait, SVG Name color is #fff. 
    If background is opacity 0.1 of #0c6ba1 (very light blue), white text is invisible.
    The HTML says opacity .5.
    Maybe the background is darker in some context? Or it relies on the user providing a background image?
    Let's look at `JessciaClaire7.html` again.
    `.svg-name span { color: #fff ... }`
    Wait, maybe it overlaps the `left-box:before`?
    The `left-box` has `background: #0c6ba1` and `opacity: .1`.
    Actually... let's stick to a visible color for the "watermark" style initial.
    Let's use the primary color with low opacity.
    */
    color: #0c6ba1;
    opacity: 0.2;
    text-decoration: none;
    text-transform: uppercase;
}

.jessica-claire-7 .name-in {
    position: relative;
    display: inline-block;
}

.jessica-claire-7 .name-in:before {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 2px;
    background: #0c6ba1;
    top: -5px;
    left: 0px;
}

/* Contact */
.jessica-claire-7 .contact-section {
    margin-bottom: 30px;
    font-size: 10px;
    color: #000;
}

.jessica-claire-7 .contact-item {
    display: inline-block;
    margin-right: 15px;
}

/* Section Titles */
.jessica-claire-7 .heading {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #0c6ba1;
    letter-spacing: 1px;
    font-weight: 800;
    margin-bottom: 5px;
}

.jessica-claire-7 .sectiontitle {
    color: #0c6ba1;
}

.jessica-claire-7 .left-column .heading .sectiontitle {
    /* For skills in left column */
    display: block;
    word-wrap: break-word;
}


/* Content */
.jessica-claire-7 .paragraph {
    margin-top: 10px;
}

.jessica-claire-7 .singlecolumn {
    /* margin-left: 0; */
}

/* Skills in Left Column */
.jessica-claire-7 .left-column ul li {
    margin-bottom: 5px;
}

/* Work History */
.jessica-claire-7 .jobtitle {
    font-weight: 600;
    text-transform: capitalize;
}

.jessica-claire-7 .companyname {
    font-weight: 600;
}

.jessica-claire-7 .jobdates {
    /* float: right? No, inline in this template */
}

.jessica-claire-7 a {
    color: inherit;
    text-decoration: none;
}